<div class="absolute">
  <img
  src="https://thefatork.store/cdn/shop/articles/netflix.jpg?v=1669877376"
  alt=""
  class="w-screen h-screen"
  />
</div>
<div class="w-full md:3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-[#E50914] rounded-lg bg-opacity-50">
  <h1 class="font-BebasNeue text-3xl py-4 text-center">Netflix Sign In</h1>
  <div class="flex items-center justify-center" id="google-btn"></div>
</div>
<img class="h-[68px] z-10 top-0 flex sticky items-center justify-between px-10" src="/assets/Netflix-Logo.wine.svg" alt="">
