
    <app-header [userImg]="userProfile" />

    <app-banner [bannerTitle]="(bannerDetails | async).original_title" [bannerOverview]="(bannerDetails | async).overview"
    [key]="(bannerVideo | async)?.results[0].key"/>
    <div class="overflow-scroll">
        <app-movie-carousel [videoContents]="movies" [title]="'Popular on Netflix'"/>
    </div>
    <div class="overflow-scroll">
        <app-movie-carousel [videoContents]="tvShows" [title]="'Trending TV shows'"/>
    </div>
    <div class="overflow-scroll">
        <app-movie-carousel [videoContents]="nowPlayingMovies" [title]="'Now Playing movies'"/>
    </div>
    <div class="overflow-scroll">
        <app-movie-carousel [videoContents]="popularMovies" [title]="'Popular Movies'"/>
    </div>
    <div class="overflow-scroll">
        <app-movie-carousel [videoContents]="topRatedMovies" [title]="'Top Rated Movies'"/>
    </div>
    <div class="overflow-scroll">
        <app-movie-carousel [videoContents]="upcomingMovies" [title]="'Upcoming Movies'"/>
    </div>

